In [1]:
#declare school
school = "Strathmore"

In [2]:

school #school

'Strathmore'

In [3]:
school = 'Strath'# single quote

In [4]:
# intergers datatype
# declare 30
num1 = 30

In [5]:
# Example 1: Variables and data types
age = 15
name = "Alice"
height = 5.6
is_student = True

In [6]:
# intergers datatype
# declare 30
num1 = 30
#float
hght1_cm = 32.4

In [41]:
# Example 2: User Input and Output
name = input("Enter your name: ")
print("Hello, "+ name)

Hello, Amy

In [ ]:
# Declare and use integer variables
age = 15
score = 80

#Perform arithmetic operations with integer
total_score = score + 10

print(score)
#call total score
print(total_score)

80
90

In [ ]:
print(Age)

NameError: name 'Age' is not defined

In [ ]:
print(age)

15

Floats: are numbers with decimal points

In [2]:
#Declare and use float variables
height_cm = 5.6
weight_kg = 45.5

#Perform arithmetic operations with floats
bmi = weight_kg / (height_cm ** 2)
print(bmi)

1.4508928571428574

In [3]:
# Declare and use string variables
name = "Alice"
city = 'New York'

#Perform string concatenaction and slicing
greeting = "Hello, " + name
first_initial =name[0]

In [4]:
#I am calling a student
is_student = True
is_adult = False

In [5]:
print(is_student)

True

In [6]:
#Use boolean operators
is_teenager = not is_adult
is_school_day = True and is_student

In [7]:
print(is_student)

True

In [8]:
is_child = not is_student
print(is_child)

False

Type conversion:
-You can convert between data types using built-in functions like int(), float(),str

In [9]:
# Type conversion examples
age_str = "15"
age_int = int(age_str)
height_float = float("5.6")
is_student_str = "True"
is_student_bool = bool(is_student_str)

In [10]:
age_str= "15" # 15 in now a string
type(age_str)

str

In [11]:
age_int = int(age_str) # convert to interger
#check datatype
type(age_int)

int

In [12]:
age_float = float(age_int)
type(age_float)
print(age_float)

15.0

Common Operations:
-Show some common operartions that can be perfomed on variables

In [13]:
#  Example 3: Math Operations
num1 = 10
num2 = 5
result = num1 + num2  ## Addition
print("The sum is:", result)
result = num1 * num2 ## Multiplication
print("The sum is:", result)
result = num1 - num2 ##Subtraction
print("The sum is:", result)
result = num1 / num2 ## Division
print("The sum is:", result)

The sum is: 15
The sum is: 50
The sum is: 5
The sum is: 2.0

In [14]:
mylist = list()
mylist2 = ["Adrian", "Felix", "Nyambura"]
marks = [10, 50, 20]
marks2 = list(marks)
mixed_list = ["Apple", 20, 56.6, "Banana"]
print(marks)
10 in marks

[10, 50, 20]

True

In [15]:
foods= ['lasagna', 'macaroons', 'cake' , 'burgers']
print(foods)
print (type(foods))
print(len(foods))

['lasagna', 'macaroons', 'cake', 'burgers']
<class 'list'>
4

In [16]:
foods.append('ice cream')
print(foods)

['lasagna', 'macaroons', 'cake', 'burgers', 'ice cream']

In [17]:
# Example 6: Lists and Dictionaries
fruits = ["apple", "banana", "cherry"]
student = {"name": "Alice", "age": 15, "grade": 9}

In [18]:
print(fruits[1])

banana

In [21]:
student["gender"] = "female"
print(student)

{'name': 'Alice', 'age': 15, 'grade': 9, 'gender': 'female'}

In [32]:
numbers = [1, 2, 3, 4, 5] 
print(len(numbers))

#In
result = 3 in numbers
print("Is 3 in numbers?", result) 

#Not in
result = 6 not in numbers
print("Is 6 not in numbers?", result)

5
Is 3 in numbers? True
Is 6 not in numbers? True

In [39]:
numbers = [1,2,3,4,5,6,7,8,9]
if len (numbers)>5:
    print('This is a long list')
elif len(numbers) == 8:
     print("klklkllk")
else: 
     print('This is a short list')

This is a long list

In [43]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [1]:
numbers = [10,20,30,40,50,60]

def myFunction(numbers):
    """this function takes in a list of intergers, 
    returns the interger and sums it up by 10"""
    for i in range(len(numbers)):
        numbers[i]+=10
    return numbers

In [2]:
help(myFunction)

Help on function myFunction in module __main__:

myFunction(numbers)
    this function takes in a list of intergers,
    returns the interger and sums it up by 10

In [50]:
myFunction(numbers)

[20, 30, 40, 50, 60, 70]

In [52]:
new_list = [100,300,500]   
myFunction(new_list)

[110, 310, 510]

In [1]:
8 / 5

1.6

In [2]:
8 % 5

3

In [3]:
8//5

1

Recap

In [4]:
# Division
print (5/8)

0.625

In [5]:
# Addition
print (7 +10)

17