Python Script
. Text files - .py
. List of Python commands
. Similar to typing in iPython Shell

In [1]:
# Division
print (5/8)

0.625

In [2]:
# Addition
print (7 +10)

17

In [3]:
# Addition, subtraction
print(4+5)
print(5-5)

9
0

In [4]:
# Multiplication, division, module, and exponentiation(power, write asteric twice)
print(3+5)
print(10/2)
print(8%5)
print(3**3)

8
5.0
3
27

In [5]:
# Create a variable savings
savings = 100

In [6]:
savings

100

In [7]:
# Print out savings
print(savings)

100

In [8]:
# Create the variables monthly_savings and num_months
monthly_savings = 10
num_months = 4

In [9]:
# Create a variable half
half = 0.5

In [10]:
# Create a variable intro
intro = "Hello? How are you?"

In [11]:
# Create a variable is_good
is_good = True

In [12]:
a = 50.0
b = 'True'
c = False
d = '15'
print(a)

50.0

In [13]:
b

'True'

In [14]:
c

False

In [15]:
type(a)

float

In [16]:
type(b)

str

In [17]:
type(c)

bool

In [18]:
type(d)

str

In [19]:
monthly_savings = 10
run_months = 12
year_savings = 30
intro = 'Hello! How are you?'

In [20]:
# Calculate year_savings using monthly_savings and num_months
year_savings = monthly_savings * num_months

In [21]:
# Print the type of year_ savings
print(type(year_savings))

<class 'int'>

In [22]:
# Assign sum of intro and intro to doubleintro
doubleintro = intro + intro

In [23]:
# Print out double intro
print(doubleintro)

Hello! How are you?Hello! How are you?

In [24]:
# Definition of savings and total_savings
savings = 100
total_savings = 150

In [25]:
# Fix the printout
print("I started with $" + str(savings) + "and now have $" + str(total_savings) + ".Awesome!")

I started with $100and now have $150.Awesome!

In [26]:
# Definition of pi_string
pi_string = "3.1415976"

In [27]:
# Convert pi_string into float: pi_float
print(float(pi_string))

3.1415976

All lists are in square brackets

In [28]:
# area variables (in square metres)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

In [29]:
# Adapt list areas
areas = ["hallway",hall,"kitchen",kit,"living room",liv,"bedroom",bed,"bathroom",bath]

In [30]:
# Print areas
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

In [31]:
# Create list coding 
a = "Python"
b = "HTML"
c = "Css"
d = "Javascript"
e = "C++"

In [32]:
# Create coding 
coding = [a,b,c,d,e]

In [33]:
# Print coding
print(coding)

['Python', 'HTML', 'Css', 'Javascript', 'C++']

In [34]:
list(coding)

['Python', 'HTML', 'Css', 'Javascript', 'C++']

In [35]:
list(areas)

['hallway',
 11.25,
 'kitchen',
 18.0,
 'living room',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 9.5]

In [36]:
type(areas)

list

In [37]:
type('16')

str

In [38]:
type(16)

int

In [39]:
str(16)

'16'

Everytime you print it brings a random number

In [40]:
# Printing a random number
import random

random_number = random.randint(1,13)

print(random_number)

4

back to exercises

In [41]:
# house information as lists of lists
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed]]

In [42]:
# Print out house 
print(house)

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75]]

In [43]:
# Print out the type  of housetype
type(house)

list

Subsetting Lists

In [44]:
# Create the areas list 
areas

['hallway',
 11.25,
 'kitchen',
 18.0,
 'living room',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 9.5]

In [45]:
# Print out second element from areas
print(areas[1])

11.25

In [46]:
# Print out second element from areas
print(areas[-1])

9.5

In [47]:
# Sum of kitchen and bedroom area: eat_sleep_area
eat_sleep_area = areas[3]+areas[7]

In [48]:
# Print the  variable eat_sleep_area
print(eat_sleep_area)

28.75

In [49]:
num = [2,6,11,8,20,30,45]

In [50]:
num[2:6]

[11, 8, 20, 30]

In [51]:
num[3:]

[8, 20, 30, 45]

In [52]:
num[2]

11

In [53]:
num[-1]

45

In [54]:
num[6]

45

In [55]:
num[2]

11

In [56]:
house [-1][1]

10.75

In [57]:
print(house)

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75]]

In [58]:
house = [["cars","trains","bikes"],["Ricky","Kyle","Amy" ],[10,20,30],["strath","uon", "ku"]]

In [59]:
house[1][0]

'Ricky'

Manipulating lists
. Changing list elements
. Adding list elements
. Removing list elements

In [60]:
x = ["a","b","c","d"]

In [61]:
x[1]

'b'

In [62]:
x[2:]

['c', 'd']

In [63]:
# Correct the bathroom area
areas[-1] = 10.50

In [64]:
# Change "living room" to "chill zone"
areas[4] = "chill zone"

In [65]:
areas

['hallway',
 11.25,
 'kitchen',
 18.0,
 'chill zone',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 10.5]

Extend a list

In [66]:
x = ["a", "b", "c", "d"]
y = x + ["e", "f"]

In [67]:
y

['a', 'b', 'c', 'd', 'e', 'f']

In [68]:
x

['a', 'b', 'c', 'd']

In [69]:
# Add poolhosue data to areas, new list is areas_1
areas_1 = areas + ["poolhouse"]

In [70]:
areas_1

['hallway',
 11.25,
 'kitchen',
 18.0,
 'chill zone',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 10.5,
 'poolhouse']

In [71]:
# Add garage data in areas_1, new list is areas_2
areas_2 = areas_1 + ["garage","15.45"]

In [72]:
areas_2

['hallway',
 11.25,
 'kitchen',
 18.0,
 'chill zone',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 10.5,
 'poolhouse',
 'garage',
 '15.45']

In [73]:
print (areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]

In [74]:
del(areas)[-4: 2]

In [75]:
# Create list areas
areas = ["11.25", "10.0", "20.0", "10.75", "9.50"]

In [76]:
# Create areas_copy
areas_copy = areas

In [77]:
# Change areas_copy
areas_copy[3] = 5.0

In [78]:
# Print areas
print(areas)

['11.25', '10.0', '20.0', 5.0, '9.50']

In [79]:
print(areas_copy)

['11.25', '10.0', '20.0', 5.0, '9.50']

Functions

In [80]:
# Create variables var1 and var2 
var1 = [1,2,3,4]
var2= True

In [81]:
# Print out type of var1
print(type(var1))

<class 'list'>

In [82]:
type(var1)

list

In [83]:
# Print out length of var1
print(len(var1))

4

In [84]:
# Convert var2 to an integer: out2 
out2 = int(var2)

In [85]:
out2

1